.message {
  display: flex;
  color: #00b8ff;
  .message-item:not(:last-child) {
    margin-right: 5px;
  }
}
.message:not(:last-child) {
  padding-bottom: 20px;
}
.is-current-user {
  color: #a900ff;
}
