.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -1.9rem;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 80%;
    margin-right: -3.25rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
      width: 90%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__result {
    padding: 1.5rem 3rem;
  }
}
