.app-container {
  max-width: 120rem;
  margin: 3rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  height: calc(100vh - 6rem);
  overflow-y: hidden;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  height: calc(100% - 7rem);
}
